.movie-year-text {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.movie-card-wrap {
    height: 250px;
    width: 185px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: white;
}
.movie-list-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)); 
    grid-gap: 1em;
}
.movie-poster {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.movie-name {
    position: absolute;
    font-size: 16px;
    color: white;
    bottom: 20px;
    left: 16px;
}
.no-movies-found-text {
    font-size: 20px;
    color: white;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
.first-node {
    margin-right: 10px;
    margin-left: 10px;
}